<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type"  />
        <title>Bug Bug</title>
    </head>
    <body>
    <h1>Bug an issue</h1>
    <form action="#" th:action="@{/bug-report}" th:object="${bug}" method="post">
        <input type="text" th:field="*{description}"/>
        <select th:field="*{project}" >
            <option th:each="project: ${projects}" th:value="${project.id}" th:text="${project.name}"></option>
        </select>
        <input type="submit" value="Submit"/>
    </form>

    </body>
</html>